<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="title">WoW Info Backend</h1>
    <div class="main">
      <p>To make a call you will need an API key, which can be acquired at https://dev.battle.net/</p>
      <p>Name the API key: BATTLENET_API_KEY and place it in the .env within the backend directory</p>
      <p>List of available routes w/ examples:</p>
    </div>

    <div class="container-fluid">
      <table class="table table-hover">
      <thead>
        <tr>
          <th>Available Routes:</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href ="../">/</a></td>
          <td>Sends you to the index/homepage.</td>
        </tr>
        <tr>
          <td><a href ="../wowachievements/1014">/wowachievements/:achievementid</a></td>
          <td>Displays an achievement that corresponds with the "achievmentid" parameter.</td>
        </tr>
        <tr>
          <td><a href ="../wowauction/malganis">/wowauction/:serverid</a></td>
          <td>Sends back a url of a .json file of the server's auction house listings in the "server" parameter.</td>
        </tr>
        <tr>
          <td><a href ="../wowcharacter/malganis/weedmangoku">/wowcharacter/:server/:charactername</a></td>
          <td>Sends back .json of the character data (general stats, activity feed, items equipped, professions, reputation, titles, achievements, statistics, talents, mounts, pets, progression) of a character as defined within the "server" parameter and "charactername" parameter</td>
        </tr>
        <tr>
          <td><a href ="../wowdata/battlegroups">/wowdata/battlegroups</a></td>
          <td>Moe</td>
        </tr>
        <tr>
          <td><a href ="../wowdata/characterraces">/wowdata/characterraces</a></td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td><a href ="../wowdata/wowdata/characterclasses">/wowdata/characterclasses</a></td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td><a href ="../wowdata/characterachievements">/wowdata/characterachievements</a></td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td><a href ="../wowdata/guildrewards">/wowdata/guildrewards</a></td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td><a href ="../wowdata/guildperks">/wowdata/guildperks</a></td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td><a href ="../wowdata/guildachievements">/wowdata/guildachievements</a></td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowdata/itemclasses</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowdata/talents</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowdata/pettypes</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowguild/:server/:guildname</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowitem/item/:itemid</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowitem/set/:setid</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td><a href ="../wowmount">/wowmount</a></td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowpets/ability/:abilityid</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowpets/species/:speciesid</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowpets/stats/:speciesid/:level/:breedid/:quality</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td><a href ="../wowpvpbg/3v3">/wowpvpbg/:size</a></td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td><a href ="../wowquests/7101">/wowquests/:questid</a></td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td><a href ="../wowrecipes/7751">/wowrecipes/:recipeid</a></td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td><a href ="../wowserverstatus/">/wowserverstatus/</a></td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td><a href ="../wowzones/">/wowzones/</a></td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowzones/:zoneid</td>
          <td>Dooley</td>
        </tr>
      </tbody>
    </table>
    </div>
  </body>
</html>
