<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>WoW Info Backend</h1>
    <p>To make a call you will need an API key, which can be acquired at https://dev.battle.net/</p>
    <p>Name the API key: BATTLENET_API_KEY and place it in the .env within the backend directory</p>
    <p>List of available routes:</p>
    <div class="container-fluid">
      <table class="table table-hover">
      <thead>
        <tr>
          <th>Available Routes:</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>/</td>
          <td>Sends you to the index/homepage.</td>
        </tr>
        <tr>
          <td>/wowachievements/:achievementid</td>
          <td>Doe</td>
        </tr>
        <tr>
          <td>/wowauction/:serverid</td>
          <td>Doe</td>
        </tr>
        <tr>
          <td>/wowcharacter/:server/:charactername</td>
          <td>Doe</td>
        </tr>
        <tr>
          <td>/wowdata/battlegroups</td>
          <td>Moe</td>
        </tr>
        <tr>
          <td>/wowdata/characterraces</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowdata/characterclasses</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowdata/characterachievements</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowdata/guildrewards</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowdata/guildperks</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowdata/guildachievements</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowdata/itemclasses</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowdata/talents</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowdata/pettypes</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowguild/:server/:guildname</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowitem/item/:itemid</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowitem/set/:setid</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowmount</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowpets/ability/:abilityid</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowpets/species/:speciesid</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowpets/stats/:speciesid/:level/:breedid/:quality</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowpvpbg/:size</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowquests/:questid</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowrecipes/:recipeid</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowserverstatus/</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowzones/</td>
          <td>Dooley</td>
        </tr>
        <tr>
          <td>/wowzones/:zoneid</td>
          <td>Dooley</td>
        </tr>
      </tbody>
    </table>
    </div>
  </body>
</html>
